<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Graficos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p>Graficos</p>
    {% if graph_url %}
    <h2>Gráfico</h2>
    <img src="{{ graph_url }}" alt="Gráfico de Peças">
    {% else %}
        <p>Não há dados para exibir o gráfico.</p>
    {% endif %}
</body>
</html>